# Auto detect text files and perform LF normalization
* text=auto
development/** linguist-documentation
flaskapp/static/js/** linguist-vendored
flaskapp/static/css/bootstrap.min.css -linguist-vendored

