
        <!-- START NAVIGATION -->
        <header class="navbar navbar-dark navbar-expand-md sticky-top bg-primary flex-md-nowrap p-0 shadow" style="font-size: 17px">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- START ENTRYS -->
                <!-- Left side -->
                <ul class="navbar-nav mr-auto" style="margin-left: 20px">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="message-circle" class="mb-1"></span> Conversations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="help-circle" class="mb-1"></span> Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="help-circle" class="mb-1"></span> Documentation</a>
                    </li>
                </ul>
                <!-- Right side -->
                <div class="ms-auto">
                    <ul class="navbar-nav mr-auto" style="margin-left: 50px">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSettings" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="settings" class="mb-1"></span> Settings
                            </a>
                            <!-- START DROPDOWN SETTINGS -->
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownSettings">
                                <a class="dropdown-item" href="{{ url_for('routes_account') }}"><span data-feather="user" class="mb-1"></span> Account</a>
                                <a class="dropdown-item" href="#"><span data-feather="slack" class="mb-1"></span> Buisness</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="#"><span data-feather="trello" class="mb-1"></span> ACP</a>
                                <a class="dropdown-item" href="#"><span data-feather="lock" class="mb-1"></span> Security</a>
                                <a class="dropdown-item" href="{{ url_for('routes_logout') }}"><span data-feather="log-out" class="mb-1"></span> Logout</a>
                            </div>
                            <!-- END DROPDOWN SETTINGS -->
                        </li>
                    </ul>
                    <!-- END ENTRYS -->
                </div>
            </div>
        </header>
        <!-- END NAVIGATION-->