{% extends "layout_dashboard.html" %}
    {% block content %}
                    <!-- START HEADING -->
                    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
                        <span data-feather="home" class="feather-title"></span>
                        <div class="lh-1">
                            <h1 class="h6 mb-0 text-white lh-1 fs-4">{{ title }}</h1>
                        </div>
                        <div class="btn-toolbar mb-2 mb-md-0">
                
                        </div>
                    </div>
                    
    {% endblock content %}