<html>
    <head>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/features.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>

        </style>
    </head>
    <body>
        {% include 'snippets/dashboard_navbar.html' %}

        <!-- START PAGE -->
        <div class="container-fluid">
            <!-- split page in rows-->
            <div class="row">
                {% include 'snippets/dashboard_sidebar.html' %}
                <!-- START DASHBOARD CONTENT -->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    {% block content %}
                    {% endblock %}
                </main>
                <!-- END DASHBOARD CONTENT-->
                {% include 'snippets/footer.html' %}
            </div>
        </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script><script>feather.replace()</script>
    </body>
</html>